<div class="box box-info">
  <!-- <div class="box-header"></div> -->
  <div class="box-body table-responsive no-padding">
    <table id="questionInfoTable" class="table table-hover table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>用户名</th>
            <th>客服名</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="domainTableTbody">

          <% for (i in events) { %>
          <tr id="tr_<%= events[i].dataValues.id %>" onclick="showChatHistory('<%= events[i].dataValues.id %>')" class="cursorPointer" style="height: 38px;cursor: pointer;">
              <td id="td_user_<%= events[i].dataValues.id %>">用户<%= events[i].dataValues.user_id %></td>
              <td id="td_staff_<%= events[i].dataValues.id %>"><%= staffname %></td>
              <td id="td_start_<%= events[i].dataValues.id %>"><%= moment(events[i].dataValues.start_time).format('YYYY-MM-DD HH:mm:ss') %></td>
              <td id="td_end_<%= events[i].dataValues.id %>"><%= moment(events[i].dataValues.end_time).format('YYYY-MM-DD HH:mm:ss') %></td>
              <td width="100px"><i class="fa fa-download fa-lg" style="cursor: pointer" title="导出" onclick=""></i></td>
          </tr>
          <% } %>

        </tbody>
    </table>
  </div>
  <div class="box-footer">共有&nbsp<%= events.length %>&nbsp条记录</div>
</div>